@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cormorant+Garamond:ital,wght@1,300&family=Fasthand&family=Sacramento&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 50%;
    margin: auto;
    background-color: #f4f4f4c9;
    height: 100vh;
    padding: 30px;
}
.name > h2{
    font-size: 24px;
}
.name > p{
    font-weight: 100;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
}
.top{
    display: flex;
}
.top>img{
    width: 113px;
    border-radius:50% ;
    margin: 10px;
    padding: 10px;
}
.alingment{
    align-items: center;
}
.alingment > img{
    margin-left: 20px;
}
.size1{
    margin-top: 10px;
}
.bottom > h4{
    color: rgb(224, 48, 48);
}
.bottom div{
    font-family:cursive;
    font-size: 17px;
}
.bottom div p{
    /* font-weight: 600; */
    font-family:cursive;
    font-size: 25px;
}

.logoofvertex{
    width: 600px ;
    height: 500px;
    background: #4b6cb7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    
    
}
.logoofvertex img{
    padding-top: 30px;
    padding-left: 50px;
    width: 540px 
}